.blog-header {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 5px 0 0 0;
}

.writePg-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 100px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
}

.input-fields label {
  font-weight: 600;
  font-size: 18px;
}

.input-upload {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.title-input {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  font-family: inherit;
  font-size: 18px;
}

.contain-input {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.upload-files {
  height: 100px;
  border: 2px dashed gray;
  border-radius: 5px;
}

.text-area {
  height: 450px;
}

.publish-btn {
  background-color: #377dff;
  color: #ffffff;
  border: none;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: inherit;
  letter-spacing: 1px;
  display: flex;
  margin: auto;
}

.publish-btn:hover {
  background-color: #5c95ff;
}